:root{
    --head-background-color: #ffffff;
    --head-font-color: #454545;
    --info-background-color: #5DA797;
    --info-font-color: #EFEFEF;
    --background-color: #fffefe   ;
    --font-color: #454545 ;
    --topic-background-color: #ffffff    ;
    --topic-font-color: #454545 ;
    --sticky-color: #5DA797          ;
    --btn-background-color: #5DA797           ;
    --btn-font-color: #ffffff   ;
    --btn-hover-color: #EFEFEF;
}

*{
    margin: 0;
    padding: 0;
}
/*     ==============================
            ヘッダー
===================================     */
header{
    position: relative;
    width: 100%;
    z-index: 1000;
    
}

.header-inner{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--head-background-color);
    box-shadow: 0px 3px 3px -2px #aaa;
}
.header-info{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}
.header-logo{
    width: 300px;
}
.site-title{
    font-size: 1.2rem;
    font-weight: 1000;
    text-decoration: none;
    color: var(--head-font-color);
}

.humburger-info{
    cursor: pointer;

    width: 42px;
    height: 42px;
    color: var(--info-font-color);
    background-color: var(--head-background-color);
    border: 1px solid var(--head-font-color);
    border-radius: 50%;
    position: fixed;
    top: 2px;
    right: 10px;
    z-index: 1005;

}


/*       humburger-bottun       */
.nav-toggle{
    display: block;
    position: relative;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
}
.nav-toggle i{
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--head-font-color);
    position: absolute;
    transform-origin: center center;
    transition: transform .5s, opacity .5s;
}
.nav-toggle i:nth-child(1){
    top: 0;
}
.nav-toggle i:nth-child(2){
    top: 0;
    bottom: 0;
    margin: auto;
}
.nav-toggle i:nth-child(3){
    bottom: 0;
}
/* クリック後、傾きを変える */
.nav-toggle.show i:nth-child(1){
    transform: translateY(9.5px) rotate(-45deg);
}
.nav-toggle.show i:nth-child(2){
    opacity: 0;
}
.nav-toggle.show i:nth-child(3){
    transform: translateY(-9.5px) rotate(45deg);
}

.nav{
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s, ;  /*  変化させるプロパティと時間を指定 */
    
}
.nav.show{
    background: var(--info-background-color);
    color: var(--info-font-color);
    opacity: 1;
    visibility: visible;
}

.nav-menu-li{
    border-top: 2px solid var(--info-font-color);
    text-align: center;
    width: 100%;
    padding: 20px 0px;
}
.nav-menu-li a{
    color: var(--info-font-color);
    text-decoration: none;
    font-size: 1.1rem;
}


/*     ==============================
            メイン
===================================     */
main{
}
.container{
    background-color: var(--background-color);
    width: 90%;
    margin: 0 auto;
}
/*      catch    */
.catch-topic{
    position: relative;
}
.catch-topic img{
    width: 100%;
    margin-top: 50px;
}
.catch-copy{
    font-family: "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho",serif;
    font-size: 1.5rem;
    position: absolute;
    color: white;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

hr{
    margin: 0.5rem 0;
}

/* top topic  */
.top-topic{
    padding-top: 10px;
    padding-bottom: 10px;
}
.top-topic-txt p{
    width: 85%;
    margin: 0 auto;
    color: var(--font-color);
}
.top-headline{
    color: var(--font-color);
    text-align: center; 
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
}
.arrow{
    display: block;
    height: 80px;
    text-align: center;
}
.arrow p{
    margin-top: 12px;
    color: var(--btn-background-color);
}
.arrow-box{
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
}
.arrow-bottom {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-bottom: 4px solid var(--btn-background-color);
    border-right: 4px solid var(--btn-background-color);
    transform: rotate(45deg);
}
  @-webkit-keyframes sdb {
    0% {
      -webkit-transform:  translate(0, 0);
    }
    20% {
      -webkit-transform: translate(0px, 10px);
    }
    40% {
      -webkit-transform:  translate(0, 0);
    }
  }
  @keyframes sdb {
    0% {
      transform: translate(0, 0);
    }
    20% {
      transform: translate(0px, 10px);
    }
    40% {
      transform: translate(0, 0);
    }
  }
  
/* ===============================

section           

===================================*/
.font{  
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.topic-box{
    margin-bottom: 50px;
    position: relative;
}
.box-txt{
    width: 90%;
    margin: 0 auto;
}
.box-img{
    width: 100%;
    /* overflowでコンテンツがはみ出した時を指定 */
    overflow: hidden; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    /* position: relative; */
}
.box-img img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    object-fit: cover;
    height: auto;
}
.box-catch{
    font-size: 1rem;
    line-height: 1.3;
    margin-bottom: 1em;
    text-align: center;
    color: black;
    font-weight: 700;
    position: relative;
    padding-top: 10px;
}
.catch-icon{
    width: 40px;
    height: auto;
}
.box-btn{
    margin-top: 3rem;
}
.box-btn a{
    margin: 0 auto;
    display: block;
    width: 250px;
    height: 70px;
    color: var(--btn-font-color);
    line-height: 70px;
    text-decoration: none;
    text-align: center;
    background-color: var(--btn-background-color);
    border-radius: 35px;
    transition: all 0.5s;
}
.box-btn a:hover{
    background-color: var(--btn-hover-color);
}
.box-btn-txt{
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.box-btn-txt-txt{
    flex-grow: 2;
    font-size: 1.2rem;
}
/* .topic-btn-txt-icon{
    
} */

.pie {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #1abc9c;
    background-image: linear-gradient(to right, transparent 50%, #fe8a01 0);
}
.pie::before{ 
    content: ''; 
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
    background: #fe8a01; /*ここで色をオレンジにする*/
    transform: rotate(.1turn);
}
.event table{
    margin: 10px;
    align-items: center;
}
.event-table{
    height: 30px;
    padding-left: 10px;
}
.event-month{
    color: rgb(130, 138, 130);
    width: 100px;
    text-align: center;
}
.event-contents{
    padding-left: 20px;
}
.event-month h5{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.event-contents h6{
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.sns{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
 .sns li{
    padding: 20px 20px;
 }   

/* PC用CSS */
@media screen and (min-width: 600px){
    .container{
        margin: 0 auto;
        width: 90%;
        max-width: 1800px;
    }
    .topic-box{
        margin-left : 10px;
        margin-right : 10px;
        max-width: 960px;
    }

.topic-box{
    display: flex;
    padding: 30px;
    margin: 0 auto;
}
.box-img{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    margin-right: 10px;

    object-fit: cover;
}
.box-txt{
    padding: 20px;
}

 }
/*     ==============================
            フッター
===================================     */
footer {
    padding: 60px 0;
    text-align: center;
    color: #aaa;
  }