<footer class="site-footer">
    <div class="topic">
        <h5 class="headline"><strong>公式SNS</strong></h5>
        <div class="under-border"></div>
        <ul class="sns">
            <li>
                <a href="https://www.instagram.com/sophia_wandervogel/">
                    <img src="../images/Instagram_Glyph_Gradient_RGB.png" alt="Instagram" width="40" height="40">
                </a>
            </li>
            <li>
                <a href="https://twitter.com/wv_sophia?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                    <img src="../images/icons8-ツイッターx-50.png" alt="X" width="40" height="40">
                </a>
            </li>
            <li>
                <a href="https://ja-jp.facebook.com/wangerusophia.hp/">
                    <img src="../images/f_logo_RGB-Blue_1024.png" alt="Facebook" width="40" height="40">
                </a>
            </li>
        </ul>
    </div>
    <div class="copyright">
        <p>&copy; 2026 SWV - Sophia Wander Vogel</p>
    </div>
</footer>