:root{
    --head-background-color: #ffffff         ;
    --head-font-color: #454545 ;
    --info-background-color: #5DA797          ;
    --info-font-color: #EFEFEF ;
    --background-color: #fffefe   ;
    --font-color: #454545 ;
    --topic-background-color: #ffffff    ;
    --topic-font-color: #454545 ;
    --sticky-color: #5DA797          ;
    --btn-background-color: #5DA797           ;
    --btn-font-color: #ffffff   ;
    --btn-hover-color: #EFEFEF;
}

*{
    margin: 0;
    padding: 0;
}
/*     ==============================
            ヘッダー
===================================     */
header{
    position: relative;
    width: 100%;
    z-index: 1000;
    
}

.header-inner{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--head-background-color);
    box-shadow: 0px 3px 3px -2px #aaa;
}
.header-info{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}
.header-logo{
    width: 300px;
}
.site-title{
    font-size: 1.2rem;
    font-weight: 1000;
    text-decoration: none;
    color: var(--head-font-color);
}

.humburger-info{
    cursor: pointer;

    width: 42px;
    height: 42px;
    color: var(--info-font-color);
    background-color: var(--head-background-color);
    border: 1px solid var(--head-font-color);
    border-radius: 50%;
    position: fixed;
    top: 2px;
    right: 10px;
    z-index: 1005;

}


/*       humburger-bottun       */
.nav-toggle{
    display: block;
    position: relative;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
}
.nav-toggle i{
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--head-font-color);
    position: absolute;
    transform-origin: center center;
    transition: transform .5s, opacity .5s;
}
.nav-toggle i:nth-child(1){
    top: 0;
}
.nav-toggle i:nth-child(2){
    top: 0;
    bottom: 0;
    margin: auto;
}
.nav-toggle i:nth-child(3){
    bottom: 0;
}
/* クリック後、傾きを変える */
.nav-toggle.show i:nth-child(1){
    transform: translateY(9.5px) rotate(-45deg);
}
.nav-toggle.show i:nth-child(2){
    opacity: 0;
}
.nav-toggle.show i:nth-child(3){
    transform: translateY(-9.5px) rotate(45deg);
}

.nav{
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s, ;  /*  変化させるプロパティと時間を指定 */
    
}
.nav.show{
    background: var(--info-background-color);
    color: var(--info-font-color);
    opacity: 1;
    visibility: visible;
    z-index: 101;
}

.nav-menu-li{
    border-top: 2px solid var(--info-font-color);
    text-align: center;
    width: 100%;
    padding: 20px 0px;
}
.nav-menu-li a{
    color: var(--info-font-color);
    text-decoration: none;
    font-size: 1.1rem;
}


/*     ==============================
            メイン
===================================     */
main{
    margin-top: 50px;
    width: 100%;
}
.container{
    background-color: var(--background-color);
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 1.8rem;
}
.top-line{
    font-size: 1.8rem;
    font-weight: 500;
}
.topic{
    margin-bottom: 2rem;
}

.headline{
    font-size: 1.4em;
    font-weight: lighter;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
}
hr{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.topic-img{
    width: 100%;
    margin-bottom: 1rem;

}
/* main-topics */

.sns{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
 .sns li{
    padding: 20px 20px;
 }   


/* ===============================

section           

===================================*/

/* PC用CSS */
@media screen and (min-width: 600px){
    .container{
        margin: 0 auto;
        width: 90%;
        max-width: 960px;
    }
    .topic-box{
        margin-left : 10px;
        margin-right : 10px;
        max-width: 960px;
    }

.topic-box{
    display: flex;
    padding: 30px;
    margin: 0 auto;
}
.box-img{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    margin-right: 10px;

    object-fit: cover;
}
.box-txt{
    padding: 20px;
}

 }
/*     ==============================
            フッター
===================================     */
footer {
    padding: 60px 0;
    text-align: center;
    color: #aaa;
  }